*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-size: cover;
    font-family: 'Kalam', cursive;
}

header {
    font-family: verdana, sans-serif;
    font-size: 5em;
    font-weight: 200;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
    1px 7px 1px #919191,
    1px 8px 1px #919191,
    1px 9px 1px #919191,
    1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.loading {
    background-image: url("/assets/img/loadingBG.png");
}

.loaded {
    background-image: url("/assets/img/loadedBG.png");
}

div {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.side-card {
    animation: fadeInAnimation2 ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: lightgray;
}

#featured {
    background-color: #ddd;
    color: rgba(155, 65, 10);
}

@keyframes fadeInAnimation2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.65;
    }
}

.caro-button {
    animation: fadeInAnimation2 ease 2s;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(155, 65, 10, 0.75);
}

.caro-control {
    max-width: 60px;
    max-height: 60px;
}

img {
    max-height: 450px;
    max-width: 300px;
    filter: drop-shadow(16px 16px 10px #224);
}

.sort-button {
    background-color: rgb(155, 65, 10);
}
